[Desktop Entry]
Encoding=UTF-8
Name=Link to Rules · openhab/openhab Wiki · GitHub
Type=Link
URL=https://github.com/openhab/openhab/wiki/Rules
Icon=text-html
Name[en_US]=rules-manual
