[Desktop Entry]
Encoding=UTF-8
Name=Link to Explanation of items · openhab/openhab Wiki · GitHub
Type=Link
URL=https://github.com/openhab/openhab/wiki/Explanation-of-items
Icon=text-html
Name[en_US]=items-manual
