[Desktop Entry]
Encoding=UTF-8
Name=Link to iot_bridge - ROS Wiki
Type=Link
URL=http://wiki.ros.org/iot_bridge
Icon=text-html
Name[en_US]=ROS-bridge tutorial
